body {
    background-color: #b4cde6 !important;
    font-family: 'Lato', sans-serif;
    color: #3C2317;
}

.main {
    color: #3C2317;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.main h1 {
    font-size: 48px;
    padding-top: 35px;
    margin: 0;
}

.main h3 {
    font-size: 28px;
    margin: 0;
    padding-top: 10px;
}

a {
    color:rgb(212, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.strengths {
    background-color:#F5EFE6;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    padding: 25px;
    border-radius: 25px;
    border: 1px solid #3C2317;
}

.strengths h2 {
    font-size: 36px;
    color: #3C2317;
}

.number {
    background-color:#3C2317;
    color: #F5EFE6;
    font-size: 24px;
    font-weight:bold;
    border-radius: 10px;
    margin-left: 20px;
    max-height: 38px;
}

.list {
    font-size: 20px;
    color: #3C2317;
    line-height: 35px;
}

.theme {
    font-weight: bold;
    font-size: 24px;
    text-align:right;
}

.detail{
    text-align: left;
}

footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}



@media screen and (max-width: 800px) {
    .main h1 {
            font-size: 28px;
            padding-top: 35px;
            margin: 0;
        }
    
        .main h3 {
            font-size: 18px;
            margin: 0;
            padding-top: 10px;
        }

        .strengths h2 {
            font-size: 22px;
            color: #3C2317;
        }

    .number {
            font-size: 16px;
            font-weight: bold;
            border-radius: 10px;
            max-height: 28px;
        }
    
        .list {
            font-size: 12px;
            color: #3C2317;
            line-height: 25px;
        }
    
        .theme {
            font-weight: bold;
            font-size: 16px;
            text-align: right;
        }
    
        .detail {
            text-align: left;
        }
}